body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #0078d7;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 24px;
}

#company-logo {
  width: 128px;
  height: 128px;
  margin-bottom: 10px;
}

nav {
  background-color: #9b6ce6;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
  color: #FFFFFF;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section a {
  color: #000000;
}

a {
  color: #0078d7;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

/* Responsive design */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  section {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction : column;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin-bottom: 10px;
  }
}
